:root {
  /**
  * @tokens Grid
  * @presenter Grid
  */
  --annotation-grid-count: 16;
  --annotation-grid-gutter: 40px;
  --annotation-grid-margin: 390px;
  --large-desktop-count: 12;
  --large-desktop-gutter: 32px;
  --large-desktop-margin: 154px;
  --mobile-count: 4;
  --mobile-gutter: 24px;
  --mobile-margin: 24px;
  --tablet-count: 8;
  --tablet-gutter: 32px;
  --tablet-margin: 32px;
  --x-l-desktop-count: 12;
  --x-l-desktop-gutter: 32px;
  --x-l-desktop-margin: 394px;
}