:root {
  /**
  * @tokens Spacing
  * @presenter Spacing
  */
--space-1: 0.25rem;
--space-10: 4rem;
--space-11: 6rem;
--space-12: 8rem;
--space-2: 0.5rem;
--space-3: 0.75rem;
--space-4: 1rem;
--space-5: 1.25rem;
--space-6: 1.5rem;
--space-7: 2rem;
--space-8: 2.5rem;
--space-9: 3rem;
}